body {
	direction: rtl;
}


@font-face {
	font-family: "BBCNassim";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/bbc-nassim-regular.woff") format("woff");
}

@font-face {
	font-family: "BBCNassim";
	font-weight: bold;
	font-style: normal;
	src: url("../fonts/bbc-nassim-bold.woff") format("woff");
}
